nav{
    height: 80px; line-height: 80px; background-color: rgb(183, 209, 149); color: #75b6f7; font-size:x-large;
}
body {
    background-color: rgb(68, 193, 235);
  }

  h1 {
    color: rgb(240, 126, 126);
    text-align: center;
  }

  p {
    font-family: verdana;
    font-size: 20px;
  }
  div{
      margin-top: 2%;
      text-align: center;
  }